{% extends "app/layout.html" %}

{% block content %}

<h2>Lucas Enterprise</h2>
<h3>Desde 2018 criando soluções em gerenciamento de vestibulares e concursos</h3>

<address>
    Empresa Lucas Enterprise<br />
    Rua da Santa Sampa, 3030<br />
    <abbr title="Telefone">Tel:</abbr>
    2251-5151
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@lucasenterprise.com">Suporte@lucasenterprise.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@lucasenterprise.com">Marketing@lucasenterprise.com</a>
</address>

{% endblock %}
