{% extends "app/layout.html" %}

{% block content %}

<h2>{{ Lucas Enterprise }}.</h2>
<h3>{{ Lucas enterprise sempre gerenciando os maiores vestibulares do Brasil! }}</h3>

<address>
    Empresa Lucas Enterprise<br />
    Rua da Santa Sampa, 2323<br />
    <abbr title="Telefone">Tel:(11)2222-3333</abbr>
    91111-2222
</address>

<address>
    <strong>Suporte:</strong>   <a href="mailto:Suporte@lucasenterprise.com">Suporte@lucasenterprise.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@lucasenterprise.com">Marketing@lucasenterprise.com</a>
</address>

{% endblock %}
